*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: gray;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: transparent;
}

header{
    height: 60px;
    width: auto;

    background-color: rgb(35, 35, 35);
    padding: 10px 15px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
    display: flex;
    align-items: flex-end;
}

header span{
    color: white;
    font-size: 14pt;
}

.input-row{
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-row span{
    font-size: 12pt;
    color: rgb(76, 76, 139);
    font-weight:600
}

.input-row input[type=text]{
    border: none;
    border-bottom: 2px solid lightgray;
    outline: none;
    margin-bottom: 20px;
    padding: 0px 5px;
    font-size: 18pt;
}

input[type=submit]{
    float: right;
    width: 300px;
    border: none;
    background-color: rgb(207, 178, 178);
    padding: 10px 25px;
    font-size: 16pt;
    color: white;
}

input[type=submit]:hover{
    background-color: rgb(204, 97, 97);
    transition: .3s;
    transform: scale(0.98);
}

.anunciosDisponiveis{
    width: 100%;
    margin-top: 20px;
    background-color: transparent;

    display: flex;
    justify-content: space-around;
}

.anunciosDisponiveis ul{
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    padding: 10px;

    display: flex;
}

.anunciosDisponiveis li{
    border: 1px solid lightgray;
    padding: 10px;
    background-color: #eeeeeeee;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anunciosDisponiveis img{
    height: 180px;
    width: 180px;
    background-color: white;
    margin-top: 10px;

    object-fit: contain;
    border-radius: 1rem;
}

.anunciosDisponiveis p{
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 0px;
}

.anunciosDisponiveis span{
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #303030;
}

.anunciosDisponiveis div p{
    margin: 0;
    font-size: 8pt;
}

.anunciosDisponiveis input[type=radio]{
    width: 16px;
    height: 16px;
}

.input-radio{
    width: 100%;

    display: flex;
    justify-content: space-between;
}
